<p>
  Past bookings are colored
  <span class="past-booking">RED.</span>
  Current bookings are colored
  <span class="current-booking">GREEN.</span>
  Future bookings are colored
  <span class="future-booking">BLUE.</span>
</p>